@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
}

img {
  width: 100%;
}

nav {
  padding: 1.2rem 1.5rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  display: none;
}

.desktop {
  display: none;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  opacity: 0;
  top: -900px;
  position: absolute;
  background: hsl(270, 9%, 17%);
  width: 100%;
  height: 95vh;
  z-index: 2;
  transition: top 1.2s ease-out;
  overflow-y: none;
}

.mobile-nav.display {
  opacity: 1;
  top: 67px;
}

.mobile-nav-items {
  position: relative;
  height: 100%;
}

.nav-container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-bottom: 2em;
}

.nav-container ul > a {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}

.nav-pattern {
  position: absolute;
  bottom: 0;
  display: flex;
}

.nav-button {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  width: 60%;
  padding: 1rem 2.3rem;
  font-size: 1rem;
  color: white;
}

.mobile-image {
  display: flex;
  justify-content: center;
}

.intro-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: hsl(256, 26%, 20%);
  height: 500px;
  color: white;
  padding: 1.5rem;
  position: relative;
}

.desktop-dash {
  display: none;
}

.desktop-image {
  display: none;
}

.intro-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.intro-item-text .intro-item_header {
  font-family: "DM Serif Display", serif;
  font-size: 2.85rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.intro-items .intro-item_paragraph {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

.intro-button {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  padding: 0.75rem 2.3rem;
  font-size: 1rem;
  color: white;
  margin: 0 auto;
}

.intro-pattern-left {
  position: absolute;
  top: 0;
  left: 0;
}

.intro-pattern-right {
  position: absolute;
  bottom: -36%;
  right: 0;
}

section {
  margin-top: 8em;
}

section hr {
  width: 30%;
  margin: 2em auto;
  background-color: rgb(152, 150, 150);
}

#appraisal {
  text-align: center;
  padding: 1.5rem 2rem;
}

.appraisal-header {
  font-family: "DM Serif Display", serif;
  font-size: 2.85rem;
  font-weight: 400;
  margin-bottom: 1em;
  text-align: center;
}

.appraisal-items + .appraisal-items {
  margin-top: 2em;
}

.appraisal-item_image {
  width: 25%;
  height: 25%;
  margin: 2.5em auto 2em;
}

.appraisal-item_header {
  font-family: "DM Serif Display", serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0 0 0.5em;
}

.appraisal-item-paragraph {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  padding: 0 .5rem;
}

#hw-we-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1.5rem;
  background: hsl(256, 26%, 20%);
  width: 90%;
  height: 350px;
  margin: 6em auto;
  padding: 1.5rem 2rem;
  text-align: center;
}

.hw-we-work-img {
  position: absolute;
  top: 0;
  right: 0;
}

.hw-we-work_header {
  font-family: "DM Serif Display", serif;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: white;
}

.hw-we-work_button {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  padding: 0.75rem 2.3rem;
  font-size: 1rem;
  color: white;
}

footer {
  background: hsl(0, 0%, 98%);
  position: relative;
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer-pattern {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-n-socials {
  padding: 2em;
}

.footer-logo {
  width: 35%;
  margin: 1.5em auto;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.socials img {
  width: 7%;
  height: 7%;
}

footer hr {
  background-color: rgb(152, 150, 150);
  width: 90%;
  margin: 0.5em auto 2em;
}

.footer-item_header {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(273, 4%, 51%);
  margin: 2em 0;
}

a.footer-item {
  display: block;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(270, 9%, 17%);
}

a.footer-item + a.footer-item {
  margin-top: 0.5em;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section hr {
    width: 10%;
  }

  .mobile-image {
    display: none;
  }
  
  #intro {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: hsl(256, 26%, 20%);
    height: 500px;

  }

  .intro-items {
    background: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .intro-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    text-align: left;
    width: 60%;
  }

  .intro-button {
    font-family: "Karla", sans-serif;
    margin: 0;
  }

  .desktop {
    display: none;
  }

  .desktop-image {
    display: block;
    margin-top: 150px;
  }

  
  .appraisal-item_image {
    width: 15%;
    height: 15%;
  }

  .appraisal-item-paragraph { 
    width: 70%;
    margin: 0 auto;
    padding: 1rem 7rem;

  }

  #hw-we-work {
    height: 270px;
    gap: 2.3rem;
  }

  .socials img {
    width: 3%;
    height: 3%;
  }

  .footer-logo {
    width: 15%;
    margin: 1.5em auto;
  }

  footer hr {
    width: 60%;
    
  }
  

}

@media only screen and (min-width: 1024px) {
  .hamburger-img,
  .closeBtn,
  .mobile-image,
  .mobile {
    display: none;
  }

  .container {
    width: 85%;
    max-width: 1104px;
    margin: 0 auto;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
  }

  .desktop-nav ul {
    display: flex;
    list-style: none;
  }

  .desktop-nav-item {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.95rem;
    color: hsl(273, 4%, 51%);
  }

  .desktop-nav-item:hover {
    color: hsl(270, 9%, 17%);
    cursor: pointer;
  }

  .desktop-nav-item + .desktop-nav-item {
    margin-left: 1.5em;
  }

  .desktop-nav-button {
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    color: hsl(270, 9%, 17%);
    border: 2px solid hsl(270, 9%, 17%);
    padding: 0.5rem 1.3rem;
  }

  .desktop-nav-button:hover {
    color: white;
    background: hsl(270, 9%, 17%);
    cursor: pointer;
  }

  .desktop {
    display: block;
  }

  #intro {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: hsl(256, 26%, 20%);
    height: 500px;
  }

  .desktop-intro-pattern-left {
    position: absolute;
    bottom: -4%;
    left: 0;
    width: 150px;
    height: 150px;
  }

  .desktop-intro-pattern-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
  }

  .intro-items {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    text-align: left;
    width: 68%;
  }

  .desktop-dash {
    display: block;
    width: 20%;
  }

  .desktop-image {
    display: block;
    margin-top: 200px;
  }

  .intro-items .intro-item_header {
    font-size: 4rem;
  }

  .intro-items .intro-item_paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .intro-button {
    font-family: "Karla", sans-serif;
    margin: 0;
  }

  .intro-button:hover {
    background: white;
    color: hsl(256, 26%, 20%);
    cursor: pointer;
  }

  section {
    margin-top: 11em;
    padding: 3rem 0;
  }

  .appraisal-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 85%;
    margin: 0 auto;
  }

  .appraisal-intro hr {
    width: 10%;
    margin: 0;
    background-color: rgb(152, 150, 150);
  }

  #appraisal {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .appraisal-items {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: start;
  }

  .appraisal-items + .appraisal-items {
    margin-top: 0;
  }

  .appraisal-item_image {
    margin: 3em 0;
  }

  .appraisal-header {
    font-size: 3.4rem;
  }

  .appraisal-item-paragraph {
    text-align: left;
    width: 100%;
  }

  #hw-we-work {
    width: 85%;
    height: 250px;
    flex-direction: row;
    justify-content: space-around;
  }

  .desktop-work-img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .hw-we-work_header {
    font-size: 3.3rem;
    width: 50%;
    text-align: left;
    letter-spacing: 0;
  }

  .hw-we-work_button {
    padding: 0.75rem 1.9rem;
    position: relative;
    z-index: 2;
  }

  button.hw-we-work_button:hover {
    color: hsl(270, 9%, 17%);
    background: white;
    cursor: pointer;
  }

  .footer-logo {
    width: 10%;
    margin: 1.5em 0;
  }

  .desktop-footer-pattern {
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo-n-socials {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 85%;
    margin: 0 auto;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socials img {
    width: 25%;
    height: 25%;
    object-fit: contain;
  }

  .socials img:hover {
    filter: invert(10%) sepia(20%) saturate(900%) hue-rotate(300deg)
      brightness(30%) contrast(95%);
  }

  .footer-nav {
    display: flex;
    margin: 0 auto;
    width: 85%;
    gap: 10rem;
    text-align: left;
    position: relative;
    z-index: 3;
  }

  a.footer-item + a.footer-item {
    margin-top: 1.25rem;
  }

  a.footer-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1440px) {
  .desktop-nav {
    width: 35%;
  }
}

@media only screen and (min-width: 1920px) {
  .desktop-nav {
    width: 40%;
  }
}
