@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  background: white;
}

.closeBtn {
  display: none;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  opacity: 0;
  top: -1000px;
  position: absolute;
  background: hsl(270, 9%, 17%);
  width: 100%;
  height: 85vh;
  z-index: 2;
  transition: top 1.5s ease-out;
  overflow-y: none;
}

.mobile-nav.display {
  opacity: 1;
  top: 67px;
}

.mobile-nav-items {
  position: relative;
  height: 100%;
}

.nav-container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-bottom: 2em;
}

ul > a {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}

.nav-pattern {
  position: absolute;
  bottom: 0;
  display: flex;
}

.nav-button {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  width: 60%;
  padding: 1rem 2.3rem;
  font-size: 1rem;
  color: white;
}

.mobile-image {
  display: flex;
  justify-content: center;
}

.intro-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: hsl(256, 26%, 20%);
  height: 500px;
  color: white;
  text-align: center;
  padding: 1.5rem;
  position: relative;
}

.intro-items .intro-item_header {
  font-family: "DM Serif Display", serif;
  font-size: 2.75rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.intro-items .intro-item_paragraph {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

.intro-button {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  padding: 0.75rem 2.3rem;
  font-size: 1rem;
  color: white;
}

.intro-pattern-left {
  position: absolute;
  top: 0;
  left: 0;
}

.intro-pattern-right {
  position: absolute;
  bottom: -36%;
  right: 0;
}

section {
  margin-top: 10em;
}

section hr {
  width: 30%;
  margin: 2em auto;
  background-color: rgb(152, 150, 150);
}

#appraisal {
  text-align: center;
  padding: 1.5rem 2rem;
}

.appraisal-header {
  font-family: "DM Serif Display", serif;
  font-size: 2.75rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.appraisal-items + .appraisal-items {
  margin-top: 2em;
}

.appraisal-item_image {
  width: 25%;
  height: 25%;
  margin: 2.5em auto 2em;
}

.appraisal-item_header {
  font-family: "DM Serif Display", serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0 0 0.5em;
}

.appraisal-item-paragraph {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
}

#hw-we-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1.5rem;
  background: hsl(256, 26%, 20%);
  width: 90%;
  height: 350px;
  margin: 6em auto;
  padding: 1.5rem 2rem;
  text-align: center;
}

.hw-we-work-img {
  position: absolute;
  top: 0;
  right: 0;
}

.hw-we-work_header {
  font-family: "DM Serif Display", serif;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: white;
}

.hw-we-work_button {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  padding: 0.75rem 2.3rem;
  font-size: 1rem;
  color: white;
}

footer {
  background: hsl(0, 0%, 98%);
  position: relative;
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer-pattern {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-n-socials {
  padding: 2em;
}

.footer-logo {
  width: 45%;
  margin: 1.5em auto;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.socials img {
  width: 9%;
  height: 9%;
}

footer hr {
  background-color: rgb(152, 150, 150);
  width: 90%;
  margin: 0.5em auto 2em;
}

.footer-item_header {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(273, 4%, 51%);
  margin: 2em 0;
}

a.footer-item {
  display: block;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(270, 9%, 17%);
}

a.footer-item + a.footer-item {
  margin-top: 0.5em;
}
